<div>
    <h3>{{welcometext}}</h3>
    <p>{{#str}} cheerup, block_superframe, {{fullname}} {{/str}}</p>
    <p>
        <a href="{{{url}}}">{{text}}</a>
    </p>
    <p>
        {{{poplink}}}
    </p>
    <p>
        <a href="{{{tableurl}}}">{{tabletext}}</a>
    </p>
</div>